html,body {
    margin: 0 auto;
    height: 100%;
}

.cover_1 .heading {
    color: white;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.5;
}

.site-header {
    padding: 10px 20px;
 
}

.btn.btn-outline-white {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    text-decoration: none;
    width:280px;
}

#learn_more{
    color:  #ff7a5c;
    opacity: 0.5;
}
#learn_more:hover{
    opacity: 1;
}

#footer_jl{
    color: white;
}

#jl_service{
    justify-content: center;
    vertical-align: middle;
}

#jl_logo{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    vertical-align: middle;
}

#buffer_jl{
    height: 7px;
}
#side-logo-div{
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
#side-logo{
    
    padding-bottom: 24px;
    width: 35% ;
}


#mc_embed_signup, #mc_embed_signup_scroll{
  background-color:  #121212;
}
#chimp_button{
    justify-content: end;
}
#mc-embedded-subscribe{
    justify-content: end;
    
}

#mc_embed_signup form {
    text-align: left;
}
/* 3顆社交分享按紐 */
ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  ul.share-buttons img{
    width: 1.5em;
    opacity: 0.9;
    text-align: center;
  }
  ul.share-buttons {
    list-style: none;
    padding: 8px 2% 0 0;
    text-align: right;
}
#social-btn{
    margin-bottom: 8px;
}

/* end of 3顆按鈕 */



.site-header.hidden-xs{
    display: flex;
    margin-bottom: -5px;
    justify-content: center;
}
.site-header.scrolled{
padding: 4px 20px;
}
.site-header.scrolled .site-nav-toggle {
    top: -9px !important;
}


.site-menu{
    background:#f9f9f9;
    top: -48px;
    width: 225px;
    
    
}

.site-menu ul > li a {
    color: #000;
    font-size: 1rem;
    line-height: 1.2;
}
.site-menu ul > li {
    margin: 0 0 0px 0;
}

#ftco-navbar-spy *{
    line-height: 1.5;
}

.site-brand, .site-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    padding: 10px 40px 0px;
}

.jl_logo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
}

.left_small_para{
    text-align: center;
    /* line-height: 1.6; */
    /* font-size:10px; */
    justify-content: center;
    font-weight: lighter;
    margin-right: 0px;
    margin-left: 0px;
}


.logo_text{
    text-align: center;
    line-height: 1.1;
    font-size:12px;
    color:black;
    /* justify-content: center; */
    font-weight: lighter;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 26px;
}
.sidebar{
    padding: 0px 0px 0px 0px;
    width: 206px;
}
.nav-footer-social-buttons {
    margin-left: 0px;
}
p.mashup{
    font-size: smaller;
    color: #555555;
    margin:10px;
}
a.mashup{
    color: #555555;
}


.nav>li>a{
    padding: 2px 33px;
}

.nav{
    
    line-height: normal;
}

#pinkoi-sub {
    padding-left: 4px;
    padding-top: 1px;
    color: #555;
    line-height: 1.2;
    font-size: 13px;
}
#pinkoi-sub *{
    color: #555;
}

#pinkoi-sub *:hover{
    color: #ff6360;
}

.nav-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}


.pinkoi{
    margin-top: 0px;
    margin-left: 20px;
}

.pinkoi:hover{
    transition: 0.5s;
    
}

.inbloom{
    font-size: 10px;
    
    
}

.btn_course{
    
    vertical-align: bottom;
    /* width:70px; */
    border-radius: 20px;
    padding:2px 20px;
}

.gmap{
    border-width: 2px;
}

.swing{
    animation-duration: 1.5s;
}
/* .grid-item .project-description { */
#jl_descript{
    opacity: 0.8;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background: hsla(0,0%,100%,0.4);
    position: absolute;
    width: 98%;
    
    bottom: 0;
    top: 77%;
    margin: 0%;
    text-decoration: none;
    height: 20%;
}

#jl_descript:hover{
    opacity: 1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background: hsla(0,0%,100%,.7);
    position: absolute;
    width: 98%;
    
    bottom: 0;
    top: 75%;
    margin: 0%;
    text-decoration: none;
    height: 20%;
}


/* .grid-item .project-description .project-text-holder */


#jl_cat {
    display: table;
    position: absolute;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
    height: 25%;
    overflow: hidden;
    opacity: 1;
    bottom: 0px;
}


#jl_descript *{
    color: rgb(53, 52, 52);
    font-weight: lighter;
    line-height: 14px;
}

.project-description *{
    color: rgb(53, 52, 52);
    font-weight: lighter;
}

/* 3顆社交分享按紐 */
ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
  ul.share-buttons li{
    display: inline;
  }
  
  ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
#social-btn {
   
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 0px;
    
}
#social-btn *{
    color:gray;
    font-size:13px;
}
/* end of 3顆按鈕 */

#news-info>h4{
    /* background-color: #f5f5dc; */
    /* padding-top: 10px;
    margin: 20px 5px; */
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    color: #363839;
    font-size:18px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#news-info>h6{
    /* background-color: #f5f5dc; */
    /* padding-top: 10px;
    margin: 20px 5px; */
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
    color: #888888;
    margin-bottom: 0px;
    font-size:12px;
}
#news-info>p{
    font-size:15px;
}
#news-hash{
    font-size: 11px;
    color: #999999;
}
h1{
    color: #555555;
}

#prod_h3{
    color: #555;
    margin-bottom: 28px;
}
#prod_h1{
    color: #222222;
}
#prod_img{
    min-width:100%;
}

#dpi-img{
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    width: 18rem;
}
#press{
    text-align:center;
}

#dpi-cont{
    padding-right:1rem;
    width: 15rem;
}